@charset "UTF-8";

//
// Modals
// --------------------------------------------------

//== Modals
//
// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

.modal-open {
	overflow: hidden;
}

.modal {
	display: none;
	overflow: auto;
	overflow-y: scroll;
	//position: fixed;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1050;
	//@include transform(translate3d(0,0,0));
	-webkit-overflow-scrolling: touch;
	outline: 0;

	&.fade .modal-dialog {
		transform: scale(0.95);
		opacity: 0;
		transform: translateY(100%);
		transform: translate3d(0,100%,0);
		transition: all 0.3s ease;
	}
	&.in .modal-dialog {
		top: 0;
		transform: scale(1);
		opacity: 1;
		transform: translateY(0);
		transform: translate3d(0,0,0);
		transition: all 0.3s ease;
	}
}

.modal-dialog {
	position: relative;
	width: auto;
	height: 100%;
}

.modal-content {
	position: relative;
	height: 100%;
	//background-color: #ffffff;
	background-color: rgba(255,255,255,1);
	background-clip: padding-box;
	outline: none;

	.content-inner {
		height: 100%;
		padding: 66px 0 0 0;
		@include box-sizing(border-box);

		&.is-footer {
			padding: 66px 0 46px 0;
		}
	}
}

.modal-backdrop {
	//position: fixed;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	// background-color: #000000;

	&.fade {
		@include opacity(0);
	}
	&.in {
		@include opacity(0);
	}
}

.modal-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	//background-color: $col-green1;
	//color: #fff;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 20px;
	//line-height: 46px;
	@include min-height(46px);
	z-index: 1;

	.modal-title {
		line-height: 46px;
		text-align: center;
	}

	.header-btn {
		position: absolute;
		right: 10px;
		bottom: 7px;
		display: inline-block;
		width: auto;
		text-align: right;
	}

	.btn-close {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 46px;
		height: 46px;
		cursor: pointer;
		border: none;
		background-color: transparent;
		//color: #fff;
		color: #666;
		@include opacity(0.8);

		&:active,
		&.is-active {
			@include opacity(1);
		}

		&:before {
			top: 50%;
			left: 50%;
			@extend .icon;
			content: "\e600";
			margin: -10px 0 0 -10px;
			font-size: fz(14,20);
		}
	}
}

.modal-body {
	position: relative;
	height: 100%;
	overflow-y: auto;
	@include box-sizing(border-box);

	.body-info {
		background-color: #eee;
		color: #666;
		border-bottom: 1px solid #e5e5e5;
		padding: 0 20px;
		line-height: 24px;
		text-align: center;

		span {
			font-size: fz(14,12);
		}
	}

	.body-main {
		padding: 20px;

		&.main-table {
			padding: 0;
		}

		.main-dialog {
			.dialog-content {
				padding: 15px;
				text-align: center;

				.content-img {
					margin-top: 60px;
				}

				.content-txt {
					text-align: center;
					margin-top: 30px;

					> dt {
						font-size: fz(14,16);
						font-weight: 700;
					}
					> dd {
						margin-top: 18px;
					}
				}
			}
		}
	}
}

.modal-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 46px;
	background-color: #fff;
	padding: 0 10px;
	text-align: right;
	border-top: 1px solid #e5e5e5;

	.footer-btn {
		position: relative;
		top: 7px;
		display: inline-block;
		width: auto;
		text-align: right;
	}

	.footer-form {
		position: relative;
		top: 7px;

		.form-input {
			width: 100%;
			padding-right: 74px;
			@include box-sizing(border-box);

			* {
				line-height: 30px;
			}
		}
		.form-btn {
			position: absolute;
			right: 0;
			top: 0;
			width: 68px;
		}
	}
	// .btn + .btn {
	// 	margin-left: 5px;
	// 	margin-bottom: 0;
	// }
	// .btn-group .btn + .btn {
	// 	margin-left: -1px;
	// }
	// .btn-block + .btn-block {
	// 	margin-left: 0;
	// }
}

.m-box-form {
	.form-group {
		margin-top: 15px;
		align-items: top;

		&:first-child {
			margin-top: 0;
		}

		label {
			display: block;
			width: 10em;
			margin-bottom: 5px;
			font-weight: bold;
		}

		input {
			width: 100%;
		}

		select {
			width: 100%;
			line-height: 20px;
		}

		textarea {
			width: 100%;
		}
	}
}


/*
## 固定幅・中央揃えのボックス
	<div class="mod-box-fixed">example</div>
*/
.mod-box-fixed {
	width: $fixedWidth;
	margin: 0 auto;
}

/*
	module:　mod-opacityHover
	- ホバー時に下の画像を透過させる
-----------------------------------------------------------------*/
.mod-box-opacity {
	@include inline-block;

	&:hover img {
		@include opacity(0.7);
	}
}

/*
## コンテンツの区切りを表す基本ボックス
	<div class="mod-section">example</div>
*/
.mod-box-section {
	margin-top: 60px;
	padding-bottom: 0;

	.mod-box-section {
		margin-top: 40px;
	}
}

/*
	module:box-imgTxt
	- 画像とテキストの横並び
*/
.mod-box-imgTxt1 {
	@include clearfix;

	.imgBox {
		float: left;
		margin-right: 20px;
	}
	.textBox {
		overflow: hidden;
	}
}
.mod-box-imgTxt2 {
	@include clearfix;

	.imgBox {
		float: right;
		margin-left: 20px;
	}
	.txtBox {
		overflow: hidden;
	}
}

/*
	module:　mod-box-padding
-----------------------------------------------------------------*/
.mod-box-padding {
	padding: 20px;
}

html,
body,
#wrap,
#l-content,
#l-viewcol,
.viewcol-tag,
.viewcol-list,
.viewcol-detail,
{
	height: 100%;
	//overflow: hidden;
}

.mod-box-scroll {
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	border-left: 1px solid #d5d5d5;

	&.scroll-no-border {
		border-left: 0;
	}
}

.mod-box-tags {
	font-size: fz(14,12);
}

.mod-box-wysiwyg {
	.wysiwyg-base {
		background: #f5f5f5;
		color: #333;
		padding: 10px;

		.base-body {
			background: #fff;
			//margin-top: 10px;
			padding: 24px;
			border: 1px solid #d5d5d5;

			h1 {
				font-size: fz(14,28);
				line-height: 1.35;
				margin: 30px 0 10px 0;
				padding: 10px 0 0 0;
			}
			h2 {
				margin: 40px -24px 20px -24px;
				padding: 0 24px 8px 24px;
				border-bottom: 1px solid #d5d5d5;
				font-size: fz(14,18);
				line-height: 1.35;
				font-weight: bold;
			}
			h3 {
				margin: 28px 0 12px 0;
				padding: 0 0 8px 0;
				border-bottom: 1px solid #d5d5d5;
				font-size: fz(14,14);
				line-height: 1.35;
				font-weight: bold;
			}
			h4 {
				font-size: fz(14,14);
				font-weight: bold;
				line-height: 1.35;
				margin: 28px 0 8px 0;
			}
			p {
				line-height: 1.75;
			}
			ul {

				> li {
					padding: 4px 0;
					line-height: 1.5;

					> ul {
						> li {

						}
					}
				}
			}
			pre {
				padding: 12px;
				@include border-radius(0);
				border: 1px solid #d5d5d5;
			}
			table {
				width: 100%;
				vertical-align: middle;

				caption {
					font-weight: bold;
					padding-bottom: 5px;
				}

				thead {
					th {
						padding: 8px 10px;
						border: 1px solid #ccc;
						background: #999;
						color: #fff;
						font-weight: bold;
						line-height: 1.4;
						text-align: center;
						vertical-align: middle;

						&:first-child {
							//background: #EEBC93;
						}
					}
				}
				tbody {
					th, td {
						padding: 10px;
						border: 1px solid #ccc;
						vertical-align: middle;
						line-height: 1.4;
					}
					th {
						width: 20%;
						background: #EEE;
						font-weight: bold;
						text-align: left;
						vertical-align: middle;

						span.indis {
							font-size: fz(14,12);
							vertical-align: middle;
							margin-left: 10px;
							color: #ed8835;
						}
					}
					td {
						vertical-align: middle;
					}
				}
			}
			blockquote {
				font-size: fz(14,14);
			}
		}
	}
}