
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700);

@charset 'UTF-8';
.m-box-form .form-group {
	margin-top : 15px;
	-ms-flex-align : top;
	align-items : top;
}
.m-box-form .form-group:first-child {
	margin-top : 0;
}
.m-box-form .form-group label {
	display : block;
	width : 10em;
	margin-bottom : 5px;
	font-weight : bold;
	text-align : left;
}
.m-box-form .form-group input {
	width : 100%;
}
.m-box-form .form-group select {
	width : 100%;
	line-height : 20px;
}
.m-box-form .form-group textarea {
	width : 100%;
}

.m-box-scroll {
	position : relative;
	height : 100vh;
	padding-top : 47px;
	box-sizing : border-box;
}
.m-box-scroll .scroll-inner {
	height : 100%;
	overflow : auto;
	-webkit-overflow-scrolling : touch;
}

.mod-box-wysiwyg {
	margin-top : 50px;
}

.m-box-editnote {
	display : -ms-flexbox;
	display : flex;
	-ms-flex-pack : justify;
	justify-content : space-between;
}
.m-box-editnote .editnote-left {
	width : 49%;
}
.m-box-editnote .editnote-right {
	width : 49%;
}
.m-box-editnote .editnote-right .mod-box-scroll {
	padding : 30px;
	height : 530px;
	overflow-y : auto;
	border : 1px solid #d5d5d5;
	box-sizing : border-box;
}

.m-box-note {
	position : relative;
	height : 100%;
}
.m-box-note .note-inner .note-info {
	position : relative;
	padding : 5px 20px;
	color : #333;
	background : #fff;
	border-bottom : 1px solid #d5d5d5;
	min-height : 44px;
	z-index : 1;
}
.m-box-note .note-inner .note-info .info-btngroup {
	position : absolute;
	top : 5px;
	right : 15px;
	margin : 0;
	padding : 0;
	list-style : none;
	text-align : right;
}
.m-box-note .note-inner .note-info .info-btngroup > li {
	display : inline-block;
	cursor : pointer;
	margin-left : 0;
}
.m-box-note .note-inner .note-info .info-btngroup > li:first-child {
	margin-left : 0;
}
.m-box-note .note-inner .note-info .info-btngroup > li.dropdown.open {
	position : relative;
}
.m-box-note .note-inner .note-info .info-btngroup > li.dropdown.open .dropdown-menu {
	display : block !important;
}
.m-box-note .note-inner .note-info .info-btngroup > li.dropdown .dropdown-menu {
	display : none;
	position : absolute;
	left : auto;
	right : 0;
	top : 38px;
	width : 300px;
	height : 350px;
	background : #fff;
	margin : 0;
	padding : 15px 15px;
	font-size : 85%;
	text-align : left;
	overflow-y : scroll;
	-webkit-overflow-scrolling : touch;
}
.m-box-note .note-inner .note-info .info-btngroup > li.dropdown .dropdown-menu li {
	margin : 0;
	padding : 0;
	list-style : none;
	line-height : 1.5;
}
.m-box-note .note-inner .note-info .info-btngroup > li.dropdown .dropdown-menu li:last-child {
	padding-bottom : 0;
}
.m-box-note .note-inner .note-info .info-btngroup > li.dropdown .dropdown-menu li ul {
	margin : 0 0 0 1.2em;
	padding : 0;
}
.m-box-note .note-inner .note-info .info-btngroup > li.dropdown .dropdown-menu li a {
	display : block;
	color : #333;
	margin : 10px 0;
	padding : 0 0 0 10px;
	border-left : 3px solid #eee;
}
.m-box-note .note-inner .note-info .info-btngroup > li.dropdown .dropdown-menu li.active > a {
	font-weight : bold;
	border-left : 3px solid #f08300;
}
.m-box-note .note-inner .note-body {
	position : absolute;
	left : 0;
	right : 0;
	top : 0;
	padding-top : 45px;
	height : 100%;
	box-sizing : border-box;
}
.m-box-note .note-inner .note-body .info-title {
	margin-top : 25px;
	font-size : 34px;
	font-weight : bold;
}
.m-box-note .note-inner .note-body > div {
	padding : 30px 30px 30px 30px;
	height : 100%;
	overflow : auto;
	box-sizing : border-box;
}

/*
	module:　mod-icon-spinner
	- ローディング用スピナー
-----------------------------------------------------------------*/
.mod-icon-spinner {
	position : absolute;
	top : 50%;
	left : 50%;
	height : 30px;
	width : 30px;
	margin : -15px 0 0 -15px;
	animation : rotation 0.6s infinite linear;
	border-left : 1px solid rgba(120, 120, 120, 0.15);
	border-right : 1px solid rgba(120, 120, 120, 0.15);
	border-bottom : 1px solid rgba(120, 120, 120, 0.15);
	border-top : 1px solid rgba(120, 120, 120, 0.8);
	border-radius : 100%;
	transition-property : opacity;
	transition-duration : 0.2s;
	letter-spacing : -0.40em;
}
.mod-icon-spinner > li {
	display : inline-block;
	letter-spacing : normal;
}
.mod-icon-spinner.ng-hide-remove, .mod-icon-spinner.ng-hide-remove-active, .mod-icon-spinner.ng-hide-add-active {
	letter-spacing : -0.40em;
}
.mod-icon-spinner.ng-hide-remove > li, .mod-icon-spinner.ng-hide-remove-active > li, .mod-icon-spinner.ng-hide-add-active > li {
	display : inline-block;
	letter-spacing : normal;
}

@keyframes rotation {
	from {
		transform : rotate(0deg);
	}
	to {
		transform : rotate(359deg);
	}
}

/*
	module:　mod-icon-empty
	- 代替表示画面
-----------------------------------------------------------------*/
.mod-icon-empty {
	position : absolute;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	transition-property : opacity;
	transition-duration : 0.2s;
	letter-spacing : -0.40em;
}
.mod-icon-empty > li {
	display : inline-block;
	letter-spacing : normal;
}
.mod-icon-empty.ng-hide-remove, .mod-icon-empty.ng-hide-remove-active, .mod-icon-empty.ng-hide-add-active {
	letter-spacing : -0.40em;
}
.mod-icon-empty.ng-hide-remove > li, .mod-icon-empty.ng-hide-remove-active > li, .mod-icon-empty.ng-hide-add-active > li {
	display : inline-block;
	letter-spacing : normal;
}
.mod-icon-empty.note {
	background : url('../images/i_empty_note.png') no-repeat center 47%;
	background-size : 48px;
}
.mod-icon-empty .empty-txt {
	position : absolute;
	top : 50%;
	width : 100%;
	margin : 16px 0 0 0;
	color : #999;
	text-align : center;
	font-size : 85%;
	letter-spacing : normal;
}

.mod-list-line {
	padding : 0;
	list-style : none;
}
.mod-list-line.note > li a, .mod-list-line.tag > li a {
	transition-property : all;
	transition-duration : 0.2s;
}
.mod-list-line.note > li a:hover, .mod-list-line.tag > li a:hover {
	transition-property : all;
	transition-duration : 0.2s;
}
.mod-list-line.note > li.active a, .mod-list-line.tag > li.active a {
	transition-property : all;
	transition-duration : 0.2s;
}
.mod-list-line li {
	margin : 0;
	padding : 0;
	background : #fff;
	list-style : none;
}
.mod-list-line li ul {
	margin : 0;
	padding : 0;
}
.mod-list-line li li {
	padding-left : 15px;
}
.mod-list-line li > li:first-child {
	border-top : 0;
}
.mod-list-line li.active {
	position : relative;
	background : #eee;
}
.mod-list-line li a {
	display : block;
	padding : 10px 15px;
	border-bottom : 1px solid #d5d5d5;
	color : #333;
	cursor : pointer;
	transition-property : background;
	transition-duration : 0.2s;
	text-decoration : none !important;
}
.mod-list-line li a:hover {
	background : #eee;
	transition-property : background;
	transition-duration : 0.2s;
}
.mod-list-line li a .line-tag {
	display : inline-block;
	margin-right : 10px;
	padding : 2px 10px;
	background : #666;
	color : #fff;
	font-size : 71%;
	text-align : center;
	vertical-align : middle;
}
.mod-list-line li a .list-group-item-tags {
	margin-bottom : 0;
	color : #999;
	font-size : 85%;
}
.mod-list-line li a .list-group-item-heading {
	margin-top : 5px;
	font-size : 114%;
	line-height : 1.35;
}
.mod-list-line li a .list-group-item-text {
	margin-top : 7px;
	font-size : 85%;
	color : #999;
}
.mod-list-line li a .list-group-item-edit {
	font-size : 85%;
	color : #666;
	margin : 0;
	text-align : right;
}
.mod-list-line li a.active {
	background : #eee;
}

.m-list-btngroup {
	margin : 30px 0 0 0;
	padding : 0;
}
.m-list-btngroup li {
	display : inline-block;
}

/*----------------------- support browser ------------------------
	Internet Explorer 8　↑
	Firefox　Latest
	Google Crome　Latest
*/
/*---------------------------- layout ----------------------------*/
html, body, #wrap, #l-content, #l-viewcol, .viewcol-tag, .viewcol-list, .viewcol-detail {
	height : 100%;
}

.navbar {
	height : 47px;
	background : #f08300 !important;
}
.navbar .navbar-brand {
	padding-top : 2px;
	padding-bottom : 0;
	font-size : 28px;
	font-family : Ubuntu !important;
	line-height : 1;
}
.navbar .btn, .navbar input {
	border : 1px solid #fff;
}

#l-guide {
	height : 100%;
	padding-top : 100px;
}
#l-guide .guide-login {
	padding : 30px;
	background : #eee;
}
#l-guide .guide-login .login-title {
	margin-bottom : 10px;
	font-size : 114%;
	font-weight : bold;
}
#l-guide .guide-login .login-error {
	color : #f00;
}
#l-guide .guide-login ul li {
	margin : 10px 0 0 0;
}
#l-guide .guide-login ul li:first-child {
	margin-top : 0;
}

#l-sharenote {
	margin : 30px auto 0 auto;
	max-width : 700px;
}
#l-sharenote .sharenote-title {
	font-size : 212%;
	font-weight : bold;
	margin : 0 0 35px 0;
	padding-bottom : 30px;
	line-height : 1.5;
	border-bottom : 5px solid #f08300;
}

.wysiwyg > p:first-child:empty + * {
	margin-top : 0 !important;
}

.wysiwyg hr {
	display : none;
}

.wysiwyg h1 {
	font-size : 180%;
	font-weight : bold;
	border-bottom : 3px solid rgba(0, 0, 0, 0.1);
	padding-bottom : 10px;
	margin : 40px 0 10px;
	padding-left : 0;
}
.wysiwyg h1 a {
	color : #0a9b94;
}
.wysiwyg h1 a:hover {
	color : #08837d;
}

.wysiwyg h2 {
	font-size : 160%;
	margin : 30px 0 10px;
	font-weight : bold;
	border-bottom : 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom : 10px;
}
.wysiwyg h2 a {
	color : #0a9b94;
}
.wysiwyg h2 a:hover {
	color : #08837d;
}

.wysiwyg h3 {
	margin : 30px 0 10px;
	font-size : 130%;
	font-weight : bold;
}

.wysiwyg h4 {
	margin : 30px 0 10px;
	font-size : 120%;
	font-weight : bold;
}

.wysiwyg > ol, .wysiwyg > ul {
	margin : 20px 0;
	padding : 0;
}

.wysiwyg li {
	margin : 10px 20px;
	list-style-type : disc;
}
.wysiwyg li > p {
	margin : 0;
}

.wysiwyg li ul li {
	list-style-type : circle;
}

.wysiwyg p {
	margin : 20px 0 0 0;
}
.wysiwyg p img {
	margin-bottom : 0;
}

.wysiwyg blockquote {
	font-size : 100%;
	color : rgba(60, 74, 96, 0.7);
	border-left : 5px solid rgba(0, 0, 0, 0.1);
	margin-bottom : 30px;
	margin-left : 0;
	margin-right : 0;
	padding : 0 20px;
}
.wysiwyg blockquote p {
	margin : 10px 0 !important;
}

.wysiwyg code {
	white-space : pre-wrap;
	background : rgba(0, 0, 0, 0.05);
	border-radius : 4px;
}

.wysiwyg pre {
	border : none;
	background : #f6f6f6;
	padding : 20px;
	border-radius : 6px;
	margin-bottom : 30px;
}
.wysiwyg pre code {
	background : #f6f6f6;
}

.wysiwyg table {
	border : 1px solid rgba(0, 0, 0, 0.1);
	width : 100%;
	border-collapse : collapse;
	border-spacing : 0;
	margin : 20px 0 30px;
}
.wysiwyg table tr:nth-child(odd) td {
	background-color : #f9f9f9;
}
.wysiwyg table tr td, .wysiwyg table tr th {
	padding : 8px;
	line-height : 1.6;
	vertical-align : top;
	border : 1px solid rgba(0, 0, 0, 0.1);
}

.wysiwyg strong {
	font-weight : bold;
}

.wysiwyg img {
	max-width : 100%;
	border : 1px solid #eee;
}

.wysiwyg h1, .wysiwyg h2, .wysiwyg h3, .wysiwyg h4 {
	-webkit-font-smoothing : antialiased;
}

.wysiwyg h1:hover .anchor, .wysiwyg h2:hover .anchor, .wysiwyg h3:hover .anchor {
	display : block;
}

.wysiwyg code {
	color : #3c4a60;
}

.wysiwyg iframe {
	max-width : 100%;
}

@media (max-width: 767px) {
	.container-fixed {
		margin : 0;
		padding : 0;
		overflow : hidden;
	}
}

@media (max-width: 767px) {
	.no-gutter {
		width : 300%;
		margin : 0;
		transition : all 0.7s;
	}
	.no-gutter.taglist {
		-ms-transform : translateX(0);
		    transform : translateX(0);
	}
	.no-gutter.notelist {
		-ms-transform : translateX(-33.3%);
		    transform : translateX(-33.3%);
	}
	.no-gutter.notedetail {
		-ms-transform : translateX(-66.6%);
		    transform : translateX(-66.6%);
	}
}

.no-gutter > [class*='col-'] {
	padding-right : 0 !important;
	padding-left : 0 !important;
	border-left : 1px solid #d5d5d5;
}
.no-gutter > [class*='col-']:first-child {
	border-left : 0;
}
@media (max-width: 767px) {
	.no-gutter > [class*='col-'] {
		width : 33.3%;
	}
}

.remark-slide-scaler {
	box-shadow : none;
	overflow : auto;
}

.remark-slide-content {
	padding : 1.5em 3em 1.5em 3em;
	background : #fafafa;
	color : #555;
	font-size : 28px;
	line-height : 2;
	border-top : 5px solid #f08300;
	box-sizing : border-box;
}

.remark-slide {
	position : relative;
}

.remark-slide-content h1, .remark-slide-content h2, .remark-slide-content h3 {
	color : #333;
	line-height : 1.5 !important;
}

.remark-slide-content a {
	color : #f08300;
}

.remark-slide-content img {
	display : block;
	max-width : 100%;
	margin : 0 auto 30px auto !important;
}

.remark-slide-content h1 {
	font-size : 50px;
	font-weight : bold;
	line-height : 1;
}

.remark-slide-content.topslide h1 {
	font-size : 60px;
}

.remark-slide-content h2 {
	margin-bottom : 1em;
	padding-left : 25px;
	border-left : 10px solid #f08300;
	font-size : 30px;
}

.remark-slide-content h3 {
	margin-bottom : 0.5em;
	font-size : 25px;
}
